$main: #297373;
// $secondary: #FF8552;
$secondary: #A7CECB;
$third: #369696;
$clickable: #b7006a;
$highlight: #cbdb2f;
$highlight-bg: #eff4c1;
$text: #39393A;
$background: #A7CECB;
$background2: #DCDCDD;
