@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
  font-size: 18px;
  font-family: 'Barlow Semi Condensed', Helvetica, Roboto, Arial, sans-serif;
  color: $text;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Slabo 27px', serif;
  font-size: 5em;
  color: $main;
  text-align: center;
}

h2 {
  font-family: 'Barlow Semi Condensed', serif;
  font-size: 2.25em;
  color: $secondary;
  font-weight: 200;
}

h3 {
  font-family: 'Slabo 27px', serif;
  font-size: 1.35em;
  color: $third;
}

p {
  color: $text;
}

a {
  color: $clickable;
  transition: color $hover-timing ease;
  &:hover {
    color: darken($clickable, 6%);
  }
}
